@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@1,300&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.heading{
  text-align: center;
  padding:0.5rem 0;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color:#130f40;
}
.heading span{
  background: #FF74B7;
  color:#fff;
  display: inline-block;
  padding:.2rem 1rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #662947;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #662947;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  border: 1px solid;
  background: #F8CDEF;
  border-radius: 25px;
  font-size: 18px;
  color: #662947;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  background: #FF74B7;
  border-color: #662947;
  transition: .5s;
}
.signup_link{
  margin: 15px 0;
  text-align: center;
  font-size: 12px;
  color: #666666;
}
.signup_link a{
  color: #FF74B7;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
  color: #662947;
}
