.text-center{
    text-align: center;
}

.bg-red{
    background-color: rgb(198, 147, 76);
}
.mx-auto{
    margin: auto;
}

.flex{
  display: flex;
}

.flex-cil{
    flex-direction: column;
}
.items-center{
    align-items: center;
}