*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

#logo{
    margin: 10px 34px;
}
#logo img{
    height: 60px;
    margin: 3px 6px;
}
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
}
#navbar ul li a:hover{
    background-color: white;
    color: rgb(32, 32, 32);

}
#home{
    display: flex;
    flex-direction: column;
    margin: 3px 20px;
    height: 550px;
    align-items: center;
    justify-content: center;
}
#home::before{
    content: "";
    background: url("./images/home.jpeg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    
}
#home h1{
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: rgb(32, 32, 32);
}
#home p{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    text-align: center;
    text-align: center;
}
#home .btn{
    margin: 10px;
    padding: 5px 8px;
    color: white;
    font-size: 1.3rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color: brown;
    cursor: pointer;
}
#home .btn:hover{
    background-color: rgb(236, 128, 128);
    color: rgb(255, 255, 255);
}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    text-align: center;
    color: rgb(32, 32, 32);
}
#services-container .h-primary{
    padding-top: 30px;
}
#client-section .h-primary{
    padding-top: 20px;
}
#contact .h-primary{
    padding-top: 20px;
    color: rgb(32, 32, 32);
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(32, 32, 32);
}
#services{
    display: flex;
    margin: 34px;
    color: rgb(32, 32, 32);
}
.center{
    color:rgb(32, 32, 32);
}
#services .box{
    border: 2px solid red;
    border-radius: 28px;
    margin: 2px 55px;
    padding: 34px;
    background-color: rgb(250, 239, 237);
    margin-bottom: 20px;
}
#services .box img{
    display: block;
    margin: auto;
    height: 160px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#client-section{
    height: 300px;
    position: relative;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-items img{
    width: 118px;
    padding: 32px 52px;
    border-radius:30%;
}
#client-section::before{
    content: "";
    background: url("./images/home.jpeg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.center{
    text-align: center;
}
.foot{
    color: white;
}
#contact{
    position: relative;
}
footer{
    padding: 20px;
    background-color: rgb(32, 32, 32);
    opacity: 90%;
    color: white;
}
#contact ::before{

    content: "";
    background: url("./images/contact.webp") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#contact-box input, 
#contact-box textarea{
    padding: 0.5rem;
    width: 100%;
    border-radius: 9px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 50%;
}
.form-group{
    padding-top: 20px ;
}
label{
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
}
.btn1{
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(230, 150, 150);
    cursor: pointer;
    padding: 10px;
}
.btn1:hover{
    background-color: rgb(204, 70, 70);
    color: rgb(255, 255, 255);
} 
legend{
    text-align: center;
    font-family: 'Bree Serif', serif;
}